﻿<!DOCTYPE html>
<html ng-app="phoneApp">
<head>
    <title>Angular JS - Presentation</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="controller.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body ng-controller="PhoneListCtrl">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-xs-12">
                Search : <input ng-model="query" />
                <p></p>Sort By: 
                <select ng-model="orderProperty">
                    <option value="name">Alphabetically</option> 
                    <option value="age">Newest</option>
                    <option value="-age">Oldest</option>
                </select>
            </div>
            <div class="col-sm-9 col-xs-12">
                <ul>
                    <li ng-repeat="phone in phones | filter : query | orderBy:orderProperty">
                        <span>{{phone.name}}</span>
                        <p>{{phone.snippet}}</p>
                    </li>

                </ul>
            </div>
            <ul><li>Total number of phone(s) = {{phones.length}}</li></ul>
        </div>
    </div>
</body>
</html>